<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<meta charset="utf-8" />

	<title>Email Client</title>
	<meta name="description" content="Email client"/>
	<meta name="author" content="Cameron A. Craig, Stuart J. Thain, Aidan P. Gallagher, Lee A. Hamilton" />

	<link rel="stylesheet" href="css/style.css" />
	<script src="js/head.js"></script>

	<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
	<% include partials/header.ejs %>
	<% include ../public_html/html/nav.html %>
	<main>
		<div class="email-list">
				<form method="get" action="/pop3_retr">
				<button class="styled smaller_styled" type="button">Select All</button>
				<button class="styled smaller_styled" type="button">Mark as read</button>
				<button class="styled smaller_styled" type="button">Mark as unread</button>
				<button class="styled smaller_styled" type="button">Mark as important</button>
				<button class="styled smaller_styled" type="button">Delete selected</button>

					<button class="styled smaller_styled">Update</button>
				</form>

			<table class="email-inbox email">
				<thead class="read_email">
					<tr class="read_email">
						<th class="read_email select">
							Select
						</th>
						<th id="email_col_2" class="read_email from">From</th>
						<th class="read_email subject">Subject</th>
						<th class="read_email time">Time</th>
						<th class="read_email actions">Actions</th>
					</tr>
				</thead>
				<tbody id="email_table_body" class="email read_email email-list-scroller">
					<% if(typeof inbox != 'undefined') { %>
					<% if(inbox.length > 0) { %>
						<% for(var i=0; i < inbox.length; i++) { %>
							<%= //inbox[i] %>
							<tr class="read_email">
							<td class = "read_email select">
								<div class="email-checkbox">
									<input type="checkbox" value="1" id="email-checkbox-<%= inbox[i].id %>" name="select" />
								</div>
							</td>
							<td class="read_email from"><%= inbox[i].from_emails %></td>
							<td class="read_email subject"><%= inbox[i].subject %></td>
							<td class="read_email date"><%= inbox[i].date %></td>
							<td class="read_email actions">
							<button class ='styled read-mail-btn' onclick='display_message(<%= JSON.stringify(inbox[i]) %>);'>Read</button>
							<button id='more-<%= inbox[i].id %>' class ='styled more-mail-btn'>More</button>
							<form method="get" action="/pop3_dele">
								<input type="hidden" name="id" value="<%= inbox[i].pop3_id %>"/>
							<button class = 'delete_button' ></button>
							</form>
							<div id='dropdown-more-<%= inbox[i].id %>' class='dropdown-content more-dropdown-content'>
								<a id='more-reply-btn-<%= inbox[i].id %>' onclick='more_reply_function(<%= JSON.stringify(inbox[i]) %>)'>Reply</a>
								<a id='more-replyall-btn-<%= inbox[i].id %>' onclick='more_replyall_function(<%= JSON.stringify(inbox[i]) %>)'>Reply All</a>
								<a id='more-forward-btn-<%= inbox[i].id %>' onclick='more_forward_function(<%= JSON.stringify(inbox[i]) %>)'>Forward</a>
								<a id='more-markasread-btn-<%= inbox[i].id %>' onclick='not_yet_implemented()'>Mark As Read</a>
								<a id='more-moveto-btn-<%= inbox[i].id %>' onclick='not_yet_implemented()'>Move To</a>
							</div>
							</td>
							</tr>
						<% } %>
					<% } else { %>
						<tr><td colspan="5"><span >No emails yet! <a href="/settings">Configure settings</a> and refresh.</span></td></tr>
					<% } %>
					<% } %>
				</tbody>
			</table>
		</div>
		<!-- email-list-->
	</main>

	<% include ../public_html/html/help_modal.html %>

	<% include partials/compose_modal.ejs %>

	<!-- The Read Email Modal -->
	<div id="read_email_modal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close" id="read_email_modal_close">&#215;</span>
			<div style="display:flex;">
				<div>
					<table>
						<tr>
							<td class="read_email_param">Subject:</td>
							<td><span id="read_email_subject"></span></td>
						</tr>
						<tr>
							<td class="read_email_param">To:</td>
							<td><span id="read_email_to"></span></td>
						</tr>
						<tr>
							<td class="read_email_param">CC:</td>
							<td><span id="read_email_cc"></span></td>
						</tr>
						<tr>
							<td class="read_email_param">BCC:</td>
							<td><span id="read_email_bcc"></span></td>
						</tr>
						<tr>
							<td class="read_email_param">From:</td>
							<td><span id="read_email_from"></span></td>
						</tr>
						<tr>
							<td colspan="2"><div id="read_email_content" style="width: 100%;    border: 1px solid #ccc;    padding: 5px;"></div></td>
						</tr>

					</table>
				</div>
			<div>
			<!-- Extra column for reply/forward forms -->

				<% include ../views/partials/reply_form.ejs %>
				<% include ../views/partials/reply_all_form.ejs %>
				<% include ../views/partials/forward_form.ejs %>
			</div>
		</div>
			<button id="delete_btn" class="styled">Delete</button>
			<button id="reply_btn" class="styled">Reply</button>
			<button id="reply_all_btn" class="styled">Reply All</button>
			<button id="forward_btn" class="styled">Forward</button>
		</div> <!-- modal-content -->
	</div> <!-- End of read email modal -->


	<% include ../public_html/html/chat_modal.html %>
	<% include ../public_html/html/edit_draft_modal.html %>
	<% include ../views/partials/read_sent_modal.ejs %>

	<iframe id="chat_iframe" class="iframe"></iframe>
	<% include partials/footer.ejs %>

	<script src="js/email.js"></script>
	<script src="js/drafts.js"></script>
	<script src="js/sent.js"></script>
	<script src="js/scripts.js"></script>



</body>

</html>
