<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<meta charset="utf-8" />

	<title>Email Client</title>
	<meta name="description" content="Email client" />
	<meta name="author" content="Cameron A. Craig, Stuart J. Thain, Aidan P. Gallagher, Lee A. Hamilton" />

	<link rel="stylesheet" href="css/style.css" />
	<script src="js/head.js"></script>
	<!-- Hide some nav elements -->
	<style>
	#compose_button,
	#chat_button {
		display:none;
	}
	</style>


	<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
	<% include partials/header.ejs %>
	<% include ../public_html/html/nav.html %>
	<main class="settings">
		<form>
			<fieldset>
    			<legend>User</legend>
				Alias:<input class = "settings" type="email" name="Alias" value="<%= settings.email_alias  %>"/>
				Username:<input class = "settings" type="text" name="Username" value="<%= settings.email_alias  %>" />
				Old Password:<input class = "settings" type="password" name="old_password" />
				Password:<input class = "settings" type="password" name="new_password_1" />
				Repeat Password:<input class = "settings" type="password" name="new_password_2" />
			</fieldset>
			<button class="styled" onclick="not_yet_implemented()">Apply</button></td>
		</form>
		<form action="settings" method="post">

			<fieldset>
    			<legend>POP3 Server:</legend>
				POP3 host:<input class = "settings" type="text" name="pop3_host" value="<%= settings.pop3_host  %>" />
				POP3 port:<input class = "settings" type="text" name="pop3_port" value="<%= settings.pop3_port  %>" />
				POP3 username:<input class = "settings" type="text" name="pop3_username" value="<%= settings.pop3_username  %>" />
				POP3 password:<input class = "settings" type="text" name="pop3_password" value="<%= settings.pop3_password  %>" />
			</fieldset>

			<!--<fieldset>
    			<legend>SMTP Server:</legend>
				SMTP server:<input class = "settings" type="search" name="IMAP_server" />
			</fieldset>-->

			<button class="styled" >Apply</button></td>

		</form>

	</main>

	<% include ../public_html/html/footer.html %>

	<script src="js/scripts.js"></script>

</body>

</html>
